html,body {
    margin: 0;
    padding: 0;
}


/*Header div to contain header photo, buttons, background*/
#headerContainer{
    display: block;  
    width: 100%;
    height: 100vh;
}


#headerBackground{
  width: 100%;
  height: 100vh;
      -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}


/*Buttons*/

#buttons {  
  height: auto;
    width: 42px;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 10;
}

.logo {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  opacity: 0.4;
}

.logo:hover {
    filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
}




/*Header*/

#headerPhoto {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 5px solid rgba(256, 256, 256, .1 );
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
    top: 200px;    
}

/*Intro*/

#name {
  font-family: "Lucida Sans Unicode";
  width: 100%;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 800px;
  opacity: 0.8;
  background: brown;
}

#occupation {
  font-family: "Lucida Sans Unicode";
  font-size: 25px;
  margin-top: 25px;
   width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 875px;
  opacity: 0.6;

}

#horizontal {
  border: 3px solid rgba(256, 256, 256, 0.6);
  width: 60%;
  position: absolute;
  left: 20%;
  top: 850px;
}





/*Portfolio*/

#mainContainer{
    display: table;
    margin: 0 auto;
    width: 100%;
    background-image: url( http://st.hzcdn.com/simgs/270191bc01abba42_4-7818/eclectic-fabric.jpg);
    border-top: 2px solid white;
}

#portfolioPhoto{
  height: 400px;
  width: 400px;
  opacity: 0.8;
    border-radius: 50px;
}

#portfolioContainer{
    position: relative;
    width: 400px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 7%;
}

.rotatedText{
  position: absolute;
    top: 40px;
   width: 100%;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px grey;
    
/* Safari */
-webkit-transform: rotate(-45deg);
/* Firefox */
-moz-transform: rotate(-45deg);
/* IE */
-ms-transform: rotate(-45deg);
}

#footer{
    color: white;
    font-family: Abel;
    text-align: right;
    margin-right: 50px;dc
}