/* Quick Select Buttons*/

.buttons {
  /* Positioning */
  
  float: right;
  position: fixed;
  right: 0px;
  /* Design */
  
  width: 40px;
    z-index: 5;
}

#button {
  /* Positioning */
  
  float: right;
  line-height: 9.6px;
  margin-right: 20px;
  margin-top: 10px;

  /* Design */
  
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 100%;
  color: white;
  opacity: 0.4;
  border: 2px solid white;
}

div#button:hover {
	filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
}

#logo {
  /* Positioning */
  
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  /* Design */
  
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  opacity: 0.4;
}

#logo:hover {
    filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
}

/* Opening Page */
.header {
  width: 100%;
  height: 1080px;
  z-index: 1;
  border-bottom: 2px solid rgba(256,256,256,0.6);
}

#headerDesign{
  width: 100%;
  height: 100%;
}

/* Header Photo */

#photo {
  /* Design */
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 5px solid rgba(256, 256, 256, .1 );
  display:block;
  margin: auto;
}

.photodiv {
  width: 100%;
  position: absolute;
  top: 100px;
}

#name {
  font-family: "Lucida Sans Unicode";
  width: 100%;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 650px;
  opacity: 0.5;
    background
}

#horizontal1 {
  border: 3px solid rgba(256, 256, 256, 0.5);
  width: 60%;
  position: absolute;
  left: 20%;
  top: 850px;
}

#horizontal2 {
  border: 3px solid rgba(256, 256, 256, 0.5);
  width: 60%;
  position: absolute;
  left: 20%;
  top: 600px;
}

#occupation {
  font-family: "Lucida Sans Unicode";
  font-size: 25px;
  padding-top: 25px;
   width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 725px;
  opacity: 0.5;
}

body{
  overflow-x: hidden;
  background: black;
}

#portfolioPhoto{
  height: 400px;
  width: 400px;
  opacity: 0.5;
    border-radius: 50px;
}

#horizontal3 {
  border: 1px solid rgba(256, 256, 256, .6);
  width: 100%;
}

#portfolioText2{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 100px;
    font-family: sans-serif;
    color: grey;

    /* Safari */
-webkit-transform: rotate(-45deg);
/* Firefox */
-moz-transform: rotate(-45deg);
/* IE */
-ms-transform: rotate(-45deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

portfolioText1{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
    
/* Safari */
-webkit-transform: rotate(-45deg);
/* Firefox */
-moz-transform: rotate(-45deg);
/* IE */
-ms-transform: rotate(-45deg);
}

#littleContainer{
    position: relative;
    width: 400px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

#bigContainer{
    display: table;
    margin: 0 auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#counter{
    background: white;
    opacity: 0.5;
}

#counterText{
    color: white;
    display: inline-block;
    font-size: 1em;
    padding-right: 5px;
    font-family: Abel;
    opacity: 0.5;
}

#counterContainer{
    width: 100%;
    text-align: left;
    background-image: url("https://digitalpizza.files.wordpress.com/2014/01/difference-between-atmosphere-and-space1.jpg");
}

#counterPhoto{
    height: 15px;
    width: auto;
}

#footer p{
    color: grey;
    text-align: center;
}
#footer{
    width: 300px;
    display: inline-block;
}