html,body {
    margin: 0;
    padding: 0;
        background-color: #DCDCDC;
}

#topBar{
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#name {
  font-family: Abel;
  text-align: left;
    margin-left: 15%;
  font-size: 30px;
    margin-top: 11px;
letter-spacing: 3px;
  color: #DCDCDC;
    display: inline-block;
}

.logo {
  text-align: right;
  max-width: 35px;
  max-height: 35px;
  border-radius: 100%;
  border: 2px solid white;
  opacity: 0.5;
    margin-left: 5%;
}

.logo:hover {
    filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
}

#logoContainer{
    position: absolute;
    top: 0px;
    right: 10px;
    text-align: right;
    margin-top: 11px;
    width: 300px;
    height: 40px;
    overflow: hidden;
}

#mainContainer{
    display: block;  
    width: 100%;
    height: 100vh;
}

#contentContainer{
    display: block;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}

h1{
    color: #204056;
    font-family: Roboto;
    display: inline-block;
    margin-left: 30%;
    margin-top: 100px; 
}
    
.list{
    color: grey;
    margin-top: 10px;
    font-family: Abel;
    width: 400px;
}

.photoContainer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*Portfolio*/
.portfolioContainer{
    border: 2px solid #204056;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
    width: 200px;
}

.linkText{
    font-size: 35px;
    text-decoration: none;
    color: #204056;
    font-family: Roboto;
}

.portfolioContainer:hover{
  opacity: 0.5;
}

#linkContainer{
    text-align: center;
    margin-top: 250px;
}